<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="ScriptFile/form1.js"></script>
    </head>
    <body>
        <form ng-controller="UserController" ng-submit="userSubmit()">
    <div>Add New User</div>
 
    <label>Name: </label> <br>
      <input type="text" id="name" name="name" ng-model="user.name" placeholder="User Name"> 
 
      <label>Password:</label>
      <input type="text" id="pwd" name="pwd" ng-model="user.pwd" placeholder="Your Password">
 
      <button class="btn btn-primary">Add</button>
      <br/>
      
  
    </form>
    </body>
</html>
